.vscode/
coverage/
node_modules/
data/mongodb/*
!data/mongodb/.gitkeep
data/mongodb/.mongodb/
build/
*.LICENSE
**/.DS_Store
yarn.lock
yarn-debug.log*
yarn-error.log*
package-lock.json
npm-debug.log*

.env.development
.env.production
