.vscode/
coverage/
node_modules/
data/mongodb/*
!data/mongodb/.gitkeep
data/mongodb/.mongodb/
data/redis/*
!data/redis/.gitkeep
build/
*.LICENSE
**/.DS_Store
yarn-debug.log*
yarn-error.log*
npm-debug.log*

.env.development
.env.production
